<!-- Header -->
<section id="header" class="skel-layers-fixed">
    <header>
        <table>
            <tr>
                <td><img src="images/VTK_hartje.png" alt="VTK Logo" width="100%"></img>
                </td>
                <td><img src="images/VLK_hartje.png" alt="VLK Logo" width="100%"></img>
                </td>
                <td></td>
            </tr>
            <tr>
                <td><img src="images/VPPK_hartje.png" alt="VPPK Logo" width="100%"></img>
                </td>
                <td><img src="images/VLAK_hartje.png" alt="VLAK Logo" width="100%"></img>
                </td>
            </tr>
        </table>
        </br>
        <img src="images/Speeddate.png" alt="speeddate" width="100%"></img>
        <h1 style="color: #ffffff; text-shadow: 1px 1px #000000">SMS-Wall</h1>
        </br>
        <h5 style="color: #ffffff; text-shadow: 1px 1px #000000">SMS naar 0472/134 434<br /> (kost = je eigen SMS-tarief)</h5>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="speeddate" class="<%= sidebar_active_smswall %>">SMS-Wall</a></li>
        </ul>
    </nav>
</section>
