<!-- Header -->
<section id="header" class="skel-layers-fixed">
    <header>
        <span class="image"><img src="images/VTK.png" alt="VTK Logo" width="100%"  /></span>
        </br>
        </br>
        <h1 style="color: #ffffff; text-shadow: 1px 1px #000000; line-height: 80%">VTK SMS-Wall</h1>
        </br>
        <h5 style="color: #ffffff; text-shadow: 1px 1px #000000">SMS naar 0472/134 434<br/>(kost = je eigen SMS-tarief)</h5>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="clublied" class="<%= sidebar_active_clublied %>">Clublied</a></li>
        </ul>
        <ul>
            <li><a href="vtk" class="<%= sidebar_active_smswall %>">SMS-Wall</a></li>
        </ul>
    </nav>
</section>
